<div class="container__auth">
    <form type="submit" [formGroup]="loginForm" (ngSubmit)="proceedLogin()">
        <div class="title white">User Registration</div>
        <label class="form__input--label">
            UserName
        </label>
        <input type="text" class="input-back" formControlName="username" required placeholder="UserName" />
        <label for="password" class="">
            Password
        </label>
        <input id="password" name="password" type="password" class=" input-back" formControlName="password"
            placeholder="Password" required />
        <button class="bg-dark button" type="submit">Submit
        </button>
        <div style="color:white">New User <span routerLink="/register" class="text-info">Register</span></div>
    </form>
</div>