<div class="card card-container">
    <h3>Items sold</h3>
    <table datatable class="table" style="color:white">
        <!-- <thead class="bg-dark text-white"> -->
        <thead>
            <tr>
                <th scope="col">TOTAL</th>
                <th scope="col">TODAY</th>
                <th scope="col">POPULAR</th>
            </tr>
        </thead>
        <tr>
            <td class="data">{{ProductSoldCount.total}}</td>
            <td class="data">{{ProductSoldCount.today}}</td>
            <td class="data">{{ProductSoldCount.popular}}</td>
        </tr>
    </table>
</div>