.table{
    border-collapse: collapse;
}

.table td, .table th {
    border: 1px solid #ddd;
}

.table tr:nth-child(even){background-color: #f2f2f2;}

.table tr:hover {background-color: #ddd;}


.title{
    text-align: center;
    font-family: bold;
    font-size: 50px;
    color: rgb(26, 97, 141)
}

.item-container{
    /* color:white; */
}

th {
    font-size: 13px !important;
}

tr > td{
    font-size: 10px;
}