<div class="card" style="width: 80vw;margin:auto" [formGroup]="sellItems">
    <!-- <div [ngClass]="spinner ? 'loader' : ''"></div> -->
    <h3>List Items</h3>
    <div class="card-header">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Invoice No.</span>
            </div>
            <input type="text" class="form-control" formControlName="invoice" placeholder="Invoice Number..."
                aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Customer</span>
            </div>
            <input type="text" class="form-control" placeholder="Customer Name..." formControlName="customerName"
                aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Address</span>
            </div>
            <input type="text" class="form-control" placeholder="Address..." formControlName="address"
                aria-label="Username" aria-describedby="basic-addon1">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Remark</span>
            </div>
            <input type="text" class="form-control" placeholder="Remark..." formControlName="remark"
                aria-label="Username" aria-describedby="basic-addon1">
        </div>
    </div>
    <div class="card-body">
        <table datatable class="table table-bordered">
            <thead class="bg-dark text-white">
                <tr>
                    <td>S.N</td>
                    <td>Product Name</td>
                    <!-- <td>Description</td> -->
                    <td>Qty</td>
                    <td>Price</td>
                    <td>Total</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>1</td>
                    <td>
                        <div class="input-group">
                            <select class="custom-select form-control" aria-placeholder="select" formControlName="name"
                                id="inputGroupSelect04">
                                <option *ngFor="let item of products" value={{item}}>{{item}}</option>
                            </select>
                        </div>
                    </td>
                    <ng-container [formGroupName]="'numberGroup'">

                        <td>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="quantity" aria-label="Username"
                                    aria-describedby="basic-addon1" type="number" formControlName="quantity">
                            </div>
                        </td>
                        <td>
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="price" aria-label="Username"
                                    aria-describedby="basic-addon1" type="number" formControlName="price">
                            </div>
                        </td>
                    </ng-container>
                    <td>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" type="number" formControlName="total"
                                placeholder="total" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                    </td>
                    <td>
                        <a class="btn btn-danger" (click)="onSell()">Sell</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>