/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");
/* @import "bootstrap/dist/css/bootstrap.css." ; */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

body {
  background-image:linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.80)), url(../src/assets/cat.jpg);
  background-size: cover;
}

.container__auth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container__box {
  max-width: 500px;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
}

.button {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
  float:right;
}

.button:focus {
  outline: none;
}

.button:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

input:active {
  border-bottom: 1px solid green
}

input:focus {
  border: none
}

.title {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
}

#disableInput {
  outline: none;
  border: none;
  background-color: rgba(2, 2, 2, 0.1);
}

.input-back {
  background-color: transparent;
  outline: none;
  border-bottom: 1px solid rgb(147, 147, 147);
  margin-top: 10px
}

.input-back:focus {
  outline: none;
  border-bottom: 1px solid rgb(255, 255, 255);
}

button {
  margin-top: 10px;
}

form {
  border: 1px solid lightblue;
  padding: 30px;
  border-radius: 10px;
}

form>* {
  color: white
}

a{
  text-decoration: none !important;
}
